/*======================== margin ================ */
/*======================== fin margin ================ */
/*RESET CSS*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear_b:after,
.clear_b:before {
  content: "";
  clear: both;
  display: table;
}
/*Widths*/
.w10 {
  width: 10%;
  min-height: 1px;
}
.w10:after,
.w10:before {
  content: "";
  clear: both;
  display: table;
}
.w20 {
  width: 20%;
  min-height: 1px;
}
.w20:after,
.w20:before {
  content: "";
  clear: both;
  display: table;
}
.w30 {
  width: 30%;
  min-height: 1px;
}
.w30:after,
.w30:before {
  content: "";
  clear: both;
  display: table;
}
.w40 {
  width: 40%;
  min-height: 1px;
}
.w40:after,
.w40:before {
  content: "";
  clear: both;
  display: table;
}
.w50 {
  width: 50%;
  min-height: 1px;
}
.w50:after,
.w50:before {
  content: "";
  clear: both;
  display: table;
}
.w60 {
  width: 60%;
  min-height: 1px;
}
.w60:after,
.w60:before {
  content: "";
  clear: both;
  display: table;
}
.w70 {
  width: 70%;
  min-height: 1px;
}
.w70:after,
.w70:before {
  content: "";
  clear: both;
  display: table;
}
.w80 {
  width: 80%;
  min-height: 1px;
}
.w80:after,
.w80:before {
  content: "";
  clear: both;
  display: table;
}
.w90 {
  width: 90%;
  min-height: 1px;
}
.w90:after,
.w90:before {
  content: "";
  clear: both;
  display: table;
}
.w100 {
  width: 100%;
  min-height: 1px;
}
.w100:after,
.w100:before {
  content: "";
  clear: both;
  display: table;
}
/*======================== fin Widths ================ */
.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/*Slider*/
.slider {
  position: relative;
  height: 400px!important;
  width: 100%;
}
.slider.fullscreen {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider.fullscreen ul.slides {
  height: 100%;
}
.slider.fullscreen ul.indicators {
  z-index: 2;
  bottom: 30px;
}
.slider .slides {
  margin: 0;
  height: 400px;
}
.slider .slides li {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: inherit;
  overflow: hidden;
}
.slider .slides li img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.slider .slides li .caption {
  color: #fff;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  opacity: 0;
}
.slider .slides li .caption p {
  color: red;
}
.slider .slides li.active {
  z-index: 2;
}
.slider .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0;
  z-index: 2;
}
.slider .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 12px;
  background-color: #fff;
  transition: background-color 0.3s;
  border-radius: 50%;
}
.slider .indicators .indicator-item.active {
  background-color: #00b6c4;
}
/*Clases ↓↓↓↓*/
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.boton {
  width: 116px;
  text-align: center;
  color: #fff;
  font-size: 26px;
  background-color: #97c100;
  text-transform: uppercase;
  cursor: pointer;
  padding: 4px 0;
  display: block;
}
/*CONTENIDO ↓↓↓↓*/
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  background-color: #efefef;
  color: #424242;
}
.container {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 1100px) {
  .container {
    width: auto;
  }
}
header:after,
section:after,
footer:after,
header:before,
section:before,
footer:before {
  content: "";
  clear: both;
  display: table;
}
header {
  height: 155px;
  padding: 20px 20px 20px 45px;
  box-sizing: border-box;
}
header h1 a {
  display: block;
  background-image: url(../img/logo.png);
  width: 115px;
  height: 94px;
  margin-right: auto;
  margin-left: auto;
  text-indent: -9999px;
}
header nav {
  font-size: 20px;
  text-align: center;
}
header nav ul {
  margin-top: 40px;
  display: inline-block;
}
header nav ul li {
  float: left;
  margin: 0 25px;
}
header nav ul li a {
  text-decoration: none;
  color: #424242;
}
header nav ul li a:hover {
  border-bottom: 2px solid #97c100;
}
@media only screen and (max-width: 1100px) {
  header nav {
    width: 72px;
    height: 72px;
    cursor: pointer;
    background-image: url(../img/menu.png);
    float: right;
    position: relative;
  }
  header nav ul {
    background-color: rgba(66, 66, 66, 0.69);
    text-align: right;
    width: 250px;
    top: 20px;
    right: 0;
    position: absolute;
    display: block;
    z-index: 10;
    display: none;
  }
  header nav ul li {
    float: none;
    padding: 10px 0;
  }
  header nav ul li a {
    color: #fff;
  }
}
#banner .slider .navegacion > div[class*="arrow"] {
  cursor: pointer;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: #97c100;
  opacity: .5;
  z-index: 3;
  background-position: center center;
  background-repeat: no-repeat;
}
#banner .slider .navegacion > div[class*="arrow"]:hover {
  opacity: .7;
}
#banner .slider .navegacion .arrow1 {
  left: 15px;
  background-image: url(../img/arrow1.png);
}
#banner .slider .navegacion .arrow2 {
  right: 15px;
  background-image: url(../img/arrow2.png);
}
#noticias h2 {
  text-align: center;
  margin: 50px 0 25px 0;
  font-size: 26px;
  color: #000;
}
#noticias .notis {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1100px) {
  #noticias .notis {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
}
#noticias .notis article {
  width: 346px;
  background-color: white;
  padding-bottom: 10px;
}
#noticias .notis article p {
  padding: 17px 10px;
  text-align: justify;
  color: #000;
  font-size: 18px;
}
#noticias .notis article span.boton {
  margin: auto;
}
footer {
  background-color: #e2e2e2;
}
footer .redes {
  margin-top: 35px;
  text-align: center;
}
footer .redes div {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
footer .redes div:hover {
  background-color: #fff;
}
footer .redes div:nth-child(1) {
  background-image: url(../img/faceb.png);
}
footer .redes div:nth-child(2) {
  background-image: url(../img/twit.png);
}
footer .redes div:nth-child(3) {
  background-image: url(../img/g+.png);
}
footer p {
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
  color: #000;
}
footer p:last-child {
  color: #424242;
  margin-bottom: 30px;
}
