@import "Mixins.less";
@import "Flexbox-mixins.less";

// VARIABLES
@blue : #00b6c4;
@green : #97c100;
@gray : #afafaf;
@gray2 : #efefef;
@black : #424242;
@widthPc : 1100px;

@movil: ~"only screen and (max-width: 1100px)";

/*Clases ↓↓↓↓*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
.f-l{
	float: left;
}
.f-r{
	float: right;
}
.boton{
	width: 116px;
	text-align: center;
	color: #fff;
	font-size: 26px;
	background-color: @green;
	text-transform: uppercase;
	cursor: pointer;
	padding: 4px 0;
	display: block;
}
/*CONTENIDO ↓↓↓↓*/
body{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
	background-color: @gray2;
	color: @black;
}
.container{
	width: @widthPc;
	margin-right: auto;
	margin-left: auto;
	@media @movil{
		width: auto;
	}
}

header,section,footer{
	.clear_b;
}

header{
	height: 155px;
	padding: 20px 20px 20px 45px;
	box-sizing: border-box;
	h1{
		a{
			display: block;
			background-image: url(../img/logo.png);
			width: 115px;
			height: 94px;
			margin-right: auto;
			margin-left: auto;
			text-indent: -9999px;
		}
	}
	nav{
		font-size: 20px;
		text-align: center;
		ul{
			margin-top: 40px;
			display: inline-block;
			li{
				float: left;
				margin: 0 25px;
				a{
					text-decoration: none;
					color: @black;
					&:hover{
						border-bottom: 2px solid @green;
					}
				}
			}
		}
		@media @movil{
			width: 72px;
			height: 72px;
			cursor: pointer;
			background-image: url(../img/menu.png);
			float: right;
			position: relative;
			ul{
				background-color: rgba(66, 66, 66, 0.69);
				text-align: right;
				width: 250px;
				top: 20px;
				right: 0;
				position: absolute;
				display: block;
				z-index: 10;
				display: none;
				li{
					float: none;
					padding: 10px 0;
					a{
						color: #fff;
					}
				}
			}
		}
	}
}
#banner{
	.slider{
		.navegacion{
			&>div[class*="arrow"]{
				cursor: pointer;
				top: 0;
				bottom: 0;
				margin: auto;
				position: absolute;
				width: 64px;
				height: 64px;
				background-color: @green;
				opacity: .5;
				z-index: 3;
				background-position: center center;
				background-repeat: no-repeat;
				&:hover{
					opacity: .7;
				}
			}
			.arrow1{
				left: 15px;
				background-image: url(../img/arrow1.png);
			}
			.arrow2{
				right: 15px;
				background-image: url(../img/arrow2.png);
			}
		}
	}
}
#noticias{
	h2{
		text-align: center;
		margin: 50px 0 25px 0;
		font-size: 26px;
		color: #000;
	}
	.notis{
		.flex-display(flex);
		.justify-content(space-between);
		@media @movil{
			.flex-wrap(wrap);
			//.flex-direction(column);
			.justify-content(center);
		}
		margin-bottom: 50px;
		article{
			//height: 430px;
			width: 346px;
			background-color: white;
			padding-bottom: 10px;
			p{
				padding: 17px 10px;
				text-align: justify;
				color: #000;
				font-size: 18px;
			}
			span.boton{
				margin: auto;
			}
		}
	}
}
footer{
	background-color: #e2e2e2;
	.redes{
		margin-top: 35px;
		text-align: center;
		div{
			display: inline-block;
			width: 50px;
			height: 50px;
			background-position: center center;
			background-repeat: no-repeat;
			margin: 0 10px;
			cursor: pointer;
			.transition();
			&:hover{
				background-color: #fff;
			}
		}
		div:nth-child(1){
			background-image: url(../img/faceb.png);
		}
		div:nth-child(2){
			background-image: url(../img/twit.png);
		}
		div:nth-child(3){
			background-image: url(../img/g+.png);
		}
	}
	p{
		margin-top: 30px;
		font-size: 15px;
		text-align: center;
		color: #000;
		&:last-child{
			color: @black;
			margin-bottom: 30px;
		}
	}
}